
*
{
    padding: 0;
    margin: 0;
}

body{
    padding-top: 453px;
}

h1
{
    font-family: roboto;
    font-weight: 700;
    color: rgb(39, 9, 75);
    font-size: 45px;
}

h2
{
    font-family: roboto;
    font-weight: 700;
    font-size: 25px;
    color: black;
    margin-bottom: 10px;
}

p
{
    font-family: roboto;
    font-weight: 400;
    color: black;
    font-size: 20px;
}

/* Header--------------------------------------------------------------------------------------------- */

header
{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 453px;
    overflow: hidden;
    min-width: 900px;
}

.slogan
{
    font-size: 65px;
    font-weight: 700;
    color: rgb(39, 9, 75);
    width: 638px;
    position: absolute;
    right: 72px;
    bottom: 20px;
}

.header-logo
{
    width: 200px;
    position: absolute;
    left: 72px;
    top: 0;   
}

.header-image
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay
{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: rgba(229, 235, 255, 0.7);
}

@media(max-width:1400px)
{
    body
    {
        padding-top: 600px;
    }
    
    .slogan
    {
        font-size: 80px;
        width: 800px;
        padding: 0;
        margin: 0;
        right: 0;
    }

    header 
    {
        height: 600px;
        padding: 0;
    }

    .header-logo{
        left:20px;
    }

    h1{
        font-size: 65px;
    }

    h2{
        font-size: 60px;
    }

    p{
        font-size: 50px;
    }
}

/* did you know?--------------------------------------------------------------------------------------------- */
.world
{
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 72px;
    margin-right: 72px;
    text-align: center;

}

.continent-1
{
    display: flex;
    width: 1400px;
    justify-content: space-between;
}

.content-1
{
    margin: 10px 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: auto;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(39, 9, 75, 0.5);
}

.image-1{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.text-container-1
{
    padding: 20px;
    text-align: center;
}

@media(max-width:1400px)
{
    .text-container-1
    {
        padding: 10px;
    }

    .content-1
    {
        width: 80%;
        height: auto;
    }

    .continent-1
    {
        flex-direction: column;
        align-items: center;
        width:auto;
    }

    .image-1
    {
        height: 600px;
    }
}

/* did you know?--------------------------------------------------------------------------------------------- */

.content-2
{
    display: flex;
    flex-direction: row;
    height: auto;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

.image-container-2
{
    height: auto;
}

.image-2
{
    height: 100%;
    max-width: 300px;
    object-fit:cover;
}

.text-container-2
{
    width: auto;
    flex-direction: column;
    text-align: start;
    margin-left: 20px;
}

@media(max-width:1400px)
{
    .content-2
    {
        min-width: 1300px;
    }


    .image-container-2
    {
        height: auto;
    }
}