
*
{
    padding: 0;
    margin: 0;
}

h1
{
    font-family: roboto;
    font-weight: 700;
    color: rgb(39, 9, 75);
    font-size: 45px;
}

h2
{
    font-family: roboto;
    font-weight: 700;
    font-size: 25px;
    color: black;
}

p
{
    font-family: roboto;
    font-weight: 400;
    color: black;
    font-size: 20px;
}

/* Header--------------------------------------------------------------------------------------------- */

header
{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 453px;
    overflow: hidden;
    min-width: 900px;
}

.slogan
{
    font-size: 65px;
    font-weight: 700;
    color: rgb(39, 9, 75);
    width: 638px;
    position: absolute;
    right: 72px;
    bottom: 20px;
}

.header-logo
{
    width: 200px;
    position: absolute;
    left: 72px;
    top: 0;   
}

.header-image
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay
{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: rgba(229, 235, 255, 0.7);
}

@media(max-width:1400px)
{
    .slogan
    {
        font-size: 70px;
        width: 700px;
        padding: 0;
        margin: 0;
        right: 0;
    }

    header 
    {
        height: 600px;
        padding: 0;
    }

    .header-logo{
        left:20px;
    }

    h1{
        font-size: 65px;
    }

    h2{
        font-size: 40px;
    }

    p{
        font-size: 30px;
    }
}

/* did you know?--------------------------------------------------------------------------------------------- */
.world
{
    padding-top: 80px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 72px;
    padding-right: 72px;
    text-align: center;

}

.continent-1
{
    display: flex;
    width: 1400px;
    justify-content: space-between;
}

.content-1
{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: auto;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(39, 9, 75, 0.5);
}

.content-1 img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.text-container-1
{
    padding: 20px;
    text-align: center;
}

.text-container-1 h2{
    padding-bottom: 10px;
}

@media(max-width:1400px)
{
    .continent-1
    {
        width: 1000px;
    }
    


    .text-container-1
    {
        padding: 10px;
    }

    .content-1
    {
        width: 500px;
        height: auto;
    }

    .continent-1
    {
        flex-direction: column;
        align-items: center;
        width:auto;
    }
}

/* did you know?--------------------------------------------------------------------------------------------- */


